// Typos
$typo-base: "Open Sans", sans-serif;

// Colors
$light-grey: #eee;
$green: #00a816;
$blue: #628ba7;

// Shadows
$shadow1: 0 5px 10px rgba(0, 0, 0, 0.1);
$shadow2: inset 5px 5px 5px rgba(0, 0, 0, 0.1),
	inset 0 -5px 5px rgba(0, 0, 0, 0.1);
